[submodule "thirdparty/libfp"]
	path = thirdparty/libfp
	url = https://github.com/joshuadahlunr/libfp.git
[submodule "thirdparty/nowide-standalone"]
	path = thirdparty/nowide-standalone
	url = https://github.com/nephatrine/nowide-standalone.git
