[submodule "thirdparty/libfp"]
	path = thirdparty/libfp
	url = https://github.com/joshuadahlunr/libfp.git
[submodule "thirdparty/nowide-standalone"]
	path = thirdparty/nowide-standalone
	url = https://github.com/nephatrine/nowide-standalone.git
[submodule "tests/glaze"]
	path = tests/glaze
	url = https://github.com/stephenberry/glaze.git
	shallow = true